## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

2024-07-01 18:49:23.728581: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
X=application_df.drop(columns=['EIN', 'NAME'], axis=1, inplace=True)
y=application_df['IS_SUCCESSFUL']
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
# Check the number of unique values in each column
#application_df[application_cat].nunique()

In [4]:
# Check the number of unique values in each column
unique_counts = application_df[application_cat].nunique()
print("Unique value counts for each categorical column:")
print(unique_counts)

Unique value counts for each categorical column:
APPLICATION_TYPE          17
AFFILIATION                6
CLASSIFICATION            71
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [5]:
# Identify columns with more than 10 unique values
columns_more_than_10 = unique_counts[unique_counts > 10].index.tolist()
print("\nColumns with more than 10 unique values:")
print(columns_more_than_10)

Columns with more than 10 unique values:
['APPLICATION_TYPE', 'CLASSIFICATION']

In [6]:
# Determine the number of data points for each unique value in these columns
for column in columns_more_than_10:
    value_counts = application_df[column].value_counts()
    print(f"\nValue counts for column '{column}':")
    print(value_counts)

Value counts for column 'APPLICATION_TYPE':
APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

Value counts for column 'CLASSIFICATION':
CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# Identify columns with fewer than 10 unique values (excluding CLASSIFICATION and APPLICATION_TYPE)
columns_to_group = unique_counts[(unique_counts < 10) & (unique_counts.index != 'CLASSIFICATION') & (unique_counts.index != 'APPLICATION_TYPE')].index.tolist()
print("\nColumns to group infrequent values into 'Other':")
print(columns_to_group)

Columns to group infrequent values into 'Other':
['AFFILIATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']

In [8]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
for column in columns_to_group:
    value_counts = application_df[column].value_counts()
    infrequent_values = value_counts[value_counts < 10].index
    application_df[column] = application_df[column].replace(infrequent_values, 'Other')

In [9]:
# Verify the changes
print("\nValue counts after grouping infrequent values:")
for column in columns_to_group:
    print(f"{column} value counts:")
    print(application_df[column].value_counts())

Value counts after grouping infrequent values:
AFFILIATION value counts:
AFFILIATION
Independent         18480
CompanySponsored    15705
Family/Parent          64
National               33
Regional               13
Other                   4
Name: count, dtype: int64
USE_CASE value counts:
USE_CASE
Preservation     28095
ProductDev        5671
CommunityServ      384
Heathcare          146
Other                3
Name: count, dtype: int64
ORGANIZATION value counts:
ORGANIZATION
Trust           23515
Association     10255
Co-operative      486
Corporation        43
Name: count, dtype: int64
INCOME_AMT value counts:
INCOME_AMT
0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: count, dtype: int64
SPECIAL_CONSIDERATIONS value counts:
SPECIAL_CONSIDERATIONS
N    34272
Y       27
Name: count, dtype: int64

In [10]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
# Set the threshold for excluding low count categories
threshold = 3000
# Generate our categorical variable list
application_types_to_replace = application_df.dtypes[application_df.dtypes == "object"].index.tolist()

# Check the number of unique values in each column
unique_counts = application_df[application_types_to_replace].nunique()

# Identify columns with more than 10 unique values
columns_more_than_10 = unique_counts[unique_counts > 10].index.tolist()

# Loop through each column with more than 10 unique values
for column in columns_more_than_10:
    # Determine the number of data points for each unique value in the column
    value_counts = application_df[column].value_counts()
    print(f"\nValue counts for column '{column}':")
    print(value_counts)

    # Identify categories to exclude
    low_count_values = value_counts[value_counts < threshold].index
    print(f"Categories with counts below {threshold} in column '{column}':")
    print(low_count_values)

    # Replace low count categories with 'Other'
    application_df[column] = application_df[column].replace(low_count_values, 'Other')

Value counts for column 'APPLICATION_TYPE':
APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64
Categories with counts below 3000 in column 'APPLICATION_TYPE':
Index(['T4', 'T6', 'T5', 'T19', 'T8', 'T7', 'T10', 'T9', 'T13', 'T12', 'T2',
       'T25', 'T14', 'T29', 'T15', 'T17'],
      dtype='object', name='APPLICATION_TYPE')

Value counts for column 'CLASSIFICATION':
CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64
Categories with counts below 3000 in column 'CLASSIFICATION':
Index(['C3000', 'C2100', 'C7000', 'C1700', 'C4000', 'C5000', 'C1270', 'C2700',
       'C2800', 'C7100', 'C1300', 'C1280', 'C1230', 'C1400', 'C7200', 'C2300',
       'C1240', 'C8000', 'C7120', 'C1500', 'C1800', 'C6000', 'C1250', 'C8200',
       'C1238', 'C1278', 'C1235', 'C1237', 'C7210', 'C2400', 'C1720', 'C4100',
       'C1257', 'C1600', 'C1260', 'C2710', 'C0', 'C3200', 'C1234', 'C1246',
       'C1267', 'C1256', 'C2190', 'C4200', 'C2600', 'C5200', 'C1370', 'C1248',
       'C6100', 'C1820', 'C1900', 'C1236', 'C3700', 'C2570', 'C1580', 'C1245',
       'C2500', 'C1570', 'C1283', 'C2380', 'C1732', 'C1728', 'C2170', 'C4120',
       'C8210', 'C2561', 'C4500', 'C2150'],
      dtype='object', name='CLASSIFICATION')

In [11]:
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

In [12]:
# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
Other     7262
Name: count, dtype: int64

In [13]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
Other     6062
C1200     4837
Name: count, dtype: int64

In [14]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

# Set the threshold for excluding low count categories
threshold = 1000
# Generate our categorical variable list
classifications_to_replace = application_df.dtypes[application_df.dtypes == "object"].index.tolist()

# Check the number of unique values in each column
unique_classification_counts = application_df[classifications_to_replace].nunique()

# Identify columns with more than 10 unique values
columns_more_than_10 = unique_counts[unique_counts > 10].index.tolist()

# Loop through each column with more than 10 unique values
for column in columns_more_than_10:
    # Determine the number of data points for each unique value in the column
    value_classification_counts = application_df[column].value_counts()
    print(f"\nValue counts for column '{column}':")
    print(value_classification_counts)

    # Identify categories to exclude
    low_count_classification_values = value_classification_counts[value_classification_counts < threshold].index
    print(f"Categories with counts below {threshold} in column '{column}':")
    print(low_count_classification_values)

    # Replace low count categories with 'Other'
    application_df[column] = application_df[column].replace(low_count_classification_values, 'Other')

Value counts for column 'APPLICATION_TYPE':
APPLICATION_TYPE
T3       27037
Other     7262
Name: count, dtype: int64
Categories with counts below 1000 in column 'APPLICATION_TYPE':
Index([], dtype='object', name='APPLICATION_TYPE')

Value counts for column 'CLASSIFICATION':
CLASSIFICATION
C1000    17326
C2000     6074
Other     6062
C1200     4837
Name: count, dtype: int64
Categories with counts below 1000 in column 'CLASSIFICATION':
Index([], dtype='object', name='CLASSIFICATION')

In [15]:
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
Other     6062
C1200     4837
Name: count, dtype: int64

In [16]:
# Convert categorical data to numeric with `pd.get_dummies`
df_dummies = pd.get_dummies(application_df)
print("\nDataFrame after applying pd.get_dummies:")
print(df_dummies)

DataFrame after applying pd.get_dummies:
       STATUS   ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_Other  \
0           1      5000              1                    True
1           1    108590              1                   False
2           1      5000              0                    True
3           1      6692              1                   False
4           1    142590              1                   False
...       ...       ...            ...                     ...
34294       1      5000              0                    True
34295       1      5000              0                    True
34296       1      5000              0                   False
34297       1      5000              1                    True
34298       1  36500179              0                   False

       APPLICATION_TYPE_T3  AFFILIATION_CompanySponsored  \
0                    False                         False
1                     True                         False
2                    False                          True
3                     True                          True
4                     True                         False
...                    ...                           ...
34294                False                         False
34295                False                          True
34296                 True                          True
34297                False                         False
34298                 True                         False

       AFFILIATION_Family/Parent  AFFILIATION_Independent  \
0                          False                     True
1                          False                     True
2                          False                    False
3                          False                    False
4                          False                     True
...                          ...                      ...
34294                      False                     True
34295                      False                    False
34296                      False                    False
34297                      False                     True
34298                      False                     True

       AFFILIATION_National  AFFILIATION_Other  ...  INCOME_AMT_1-9999  \
0                     False              False  ...              False
1                     False              False  ...               True
2                     False              False  ...              False
3                     False              False  ...              False
4                     False              False  ...              False
...                     ...                ...  ...                ...
34294                 False              False  ...              False
34295                 False              False  ...              False
34296                 False              False  ...              False
34297                 False              False  ...              False
34298                 False              False  ...              False

       INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  INCOME_AMT_10M-50M  \
0                       False                     False               False
1                       False                     False               False
2                       False                     False               False
3                        True                     False               False
4                       False                      True               False
...                       ...                       ...                 ...
34294                   False                     False               False
34295                   False                     False               False
34296                   False                     False               False
34297                   False                     False               False
34298                   False                     False               False

       INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  INCOME_AMT_50M+  \
0                 False                   False            False
1                 False                   False            False
2                 False                   False            False
3                 False                   False            False
4                 False                   False            False
...                 ...                     ...              ...
34294             False                   False            False
34295             False                   False            False
34296             False                   False            False
34297             False                   False            False
34298              True                   False            False

       INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0                  False                      True                     False
1                  False                      True                     False
2                  False                      True                     False
3                  False                      True                     False
4                  False                      True                     False
...                  ...                       ...                       ...
34294              False                      True                     False
34295              False                      True                     False
34296              False                      True                     False
34297              False                      True                     False
34298              False                      True                     False

[34299 rows x 35 columns]

In [17]:
# Convert boolean columns to integers
df_dummies = df_dummies.astype(int)

print("\nDataFrame after applying pd.get_dummies and converting to integers:")
print(df_dummies.head())

DataFrame after applying pd.get_dummies and converting to integers:
   STATUS  ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_Other  \
0       1     5000              1                       1
1       1   108590              1                       0
2       1     5000              0                       1
3       1     6692              1                       0
4       1   142590              1                       0

   APPLICATION_TYPE_T3  AFFILIATION_CompanySponsored  \
0                    0                             0
1                    1                             0
2                    0                             1
3                    1                             1
4                    1                             0

   AFFILIATION_Family/Parent  AFFILIATION_Independent  AFFILIATION_National  \
0                          0                        1                     0
1                          0                        1                     0
2                          0                        0                     0
3                          0                        0                     0
4                          0                        1                     0

   AFFILIATION_Other  ...  INCOME_AMT_1-9999  INCOME_AMT_10000-24999  \
0                  0  ...                  0                       0
1                  0  ...                  1                       0
2                  0  ...                  0                       0
3                  0  ...                  0                       1
4                  0  ...                  0                       0

   INCOME_AMT_100000-499999  INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  \
0                         0                   0                 0
1                         0                   0                 0
2                         0                   0                 0
3                         0                   0                 0
4                         1                   0                 0

   INCOME_AMT_25000-99999  INCOME_AMT_50M+  INCOME_AMT_5M-10M  \
0                       0                0                  0
1                       0                0                  0
2                       0                0                  0
3                       0                0                  0
4                       0                0                  0

   SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0                         1                         0
1                         1                         0
2                         1                         0
3                         1                         0
4                         1                         0

[5 rows x 35 columns]

In [18]:
print("\nData types of the DataFrame columns:")
print(df_dummies.dtypes)

Data types of the DataFrame columns:
STATUS                          int64
ASK_AMT                         int64
IS_SUCCESSFUL                   int64
APPLICATION_TYPE_Other          int64
APPLICATION_TYPE_T3             int64
AFFILIATION_CompanySponsored    int64
AFFILIATION_Family/Parent       int64
AFFILIATION_Independent         int64
AFFILIATION_National            int64
AFFILIATION_Other               int64
AFFILIATION_Regional            int64
CLASSIFICATION_C1000            int64
CLASSIFICATION_C1200            int64
CLASSIFICATION_C2000            int64
CLASSIFICATION_Other            int64
USE_CASE_CommunityServ          int64
USE_CASE_Heathcare              int64
USE_CASE_Other                  int64
USE_CASE_Preservation           int64
USE_CASE_ProductDev             int64
ORGANIZATION_Association        int64
ORGANIZATION_Co-operative       int64
ORGANIZATION_Corporation        int64
ORGANIZATION_Trust              int64
INCOME_AMT_0                    int64
INCOME_AMT_1-9999               int64
INCOME_AMT_10000-24999          int64
INCOME_AMT_100000-499999        int64
INCOME_AMT_10M-50M              int64
INCOME_AMT_1M-5M                int64
INCOME_AMT_25000-99999          int64
INCOME_AMT_50M+                 int64
INCOME_AMT_5M-10M               int64
SPECIAL_CONSIDERATIONS_N        int64
SPECIAL_CONSIDERATIONS_Y        int64
dtype: object

In [19]:
# Split our preprocessed data into our features and target arrays
# Split the preprocessed data into a training and testing dataset

# Identify the target variable
target = 'IS_SUCCESSFUL'

# Identify the feature variables related to 'Classification' and 'Application_Type'
# Assuming 'CLASSIFICATION' and 'APPLICATION_TYPE' were the original columns
classification_columns = [col for col in df_dummies.columns if 'CLASSIFICATION' in col]
application_type_columns = [col for col in df_dummies.columns if 'APPLICATION_TYPE' in col]

# Combine the feature columns
feature_columns = classification_columns + application_type_columns

# Create the features (X) and target (y) arrays
X = df_dummies[feature_columns].values
y = df_dummies[target].values

print("Feature columns:", feature_columns)
print("\nFeatures (X):")
print(X)
print("\nTarget (y):")
print(y)

Feature columns: ['CLASSIFICATION_C1000', 'CLASSIFICATION_C1200', 'CLASSIFICATION_C2000', 'CLASSIFICATION_Other', 'APPLICATION_TYPE_Other', 'APPLICATION_TYPE_T3']

Features (X):
[[1 0 0 0 1 0]
 [0 0 1 0 0 1]
 [0 0 0 1 1 0]
 ...
 [0 0 1 0 0 1]
 [0 0 0 1 1 0]
 [1 0 0 0 0 1]]

Target (y):
[1 1 0 ... 0 1 0]

In [20]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [21]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [22]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_feat_num=X_train_scaled.shape[1]

# Compile the Sequential model together and customize metrics
nn = tf.keras.models.Sequential()

#Define the model shape via setting the Input layer
nn.add(tf.keras.layers.Input(shape=(input_feat_num,)))

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=80, activation="relu")
)

# Second hidden layer
nn.add(
    tf.keras.layers.Dense(units=30, activation="relu")
)

# Output layer
nn.add(
    tf.keras.layers.Dense(units=1, activation="sigmoid")
)

# Check the structure of the model
nn.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 80)             │           560 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 30)             │         2,430 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            31 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 3,021 (11.80 KB)

 Trainable params: 3,021 (11.80 KB)

 Non-trainable params: 0 (0.00 B)

In [23]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [24]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 665us/step - accuracy: 0.5288 - loss: 0.6898
Epoch 2/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 639us/step - accuracy: 0.5437 - loss: 0.6871
Epoch 3/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 639us/step - accuracy: 0.5451 - loss: 0.6851
Epoch 4/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 651us/step - accuracy: 0.5483 - loss: 0.6847
Epoch 5/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 684us/step - accuracy: 0.5368 - loss: 0.6878
Epoch 6/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 650us/step - accuracy: 0.5450 - loss: 0.6860
Epoch 7/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 714us/step - accuracy: 0.5486 - loss: 0.6851
Epoch 8/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 687us/step - accuracy: 0.5497 - loss: 0.6852
Epoch 9/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 669us/step - accuracy: 0.5481 - loss: 0.6863
Epoch 10/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 691us/step - accuracy: 0.5410 - loss: 0.6858
Epoch 11/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 732us/step - accuracy: 0.5426 - loss: 0.6854
Epoch 12/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 665us/step - accuracy: 0.5439 - loss: 0.6861
Epoch 13/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 708us/step - accuracy: 0.5410 - loss: 0.6861
Epoch 14/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 658us/step - accuracy: 0.5457 - loss: 0.6853
Epoch 15/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 670us/step - accuracy: 0.5449 - loss: 0.6862
Epoch 16/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 654us/step - accuracy: 0.5434 - loss: 0.6851
Epoch 17/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 702us/step - accuracy: 0.5434 - loss: 0.6860
Epoch 18/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 671us/step - accuracy: 0.5499 - loss: 0.6838
Epoch 19/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 697us/step - accuracy: 0.5460 - loss: 0.6850
Epoch 20/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 683us/step - accuracy: 0.5462 - loss: 0.6860
Epoch 21/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 690us/step - accuracy: 0.5421 - loss: 0.6869
Epoch 22/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 716us/step - accuracy: 0.5405 - loss: 0.6862
Epoch 23/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 702us/step - accuracy: 0.5460 - loss: 0.6856
Epoch 24/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 731us/step - accuracy: 0.5426 - loss: 0.6851
Epoch 25/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 679us/step - accuracy: 0.5494 - loss: 0.6859
Epoch 26/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 724us/step - accuracy: 0.5485 - loss: 0.6851
Epoch 27/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 705us/step - accuracy: 0.5452 - loss: 0.6853
Epoch 28/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 749us/step - accuracy: 0.5434 - loss: 0.6862
Epoch 29/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 720us/step - accuracy: 0.5483 - loss: 0.6857
Epoch 30/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 696us/step - accuracy: 0.5505 - loss: 0.6851
Epoch 31/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 723us/step - accuracy: 0.5427 - loss: 0.6866
Epoch 32/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 700us/step - accuracy: 0.5448 - loss: 0.6859
Epoch 33/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 731us/step - accuracy: 0.5530 - loss: 0.6844
Epoch 34/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 684us/step - accuracy: 0.5489 - loss: 0.6858
Epoch 35/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 719us/step - accuracy: 0.5431 - loss: 0.6865
Epoch 36/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 667us/step - accuracy: 0.5424 - loss: 0.6845
Epoch 37/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 661us/step - accuracy: 0.5435 - loss: 0.6867
Epoch 38/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 703us/step - accuracy: 0.5524 - loss: 0.6859
Epoch 39/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 667us/step - accuracy: 0.5399 - loss: 0.6875
Epoch 40/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 702us/step - accuracy: 0.5446 - loss: 0.6856
Epoch 41/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 667us/step - accuracy: 0.5407 - loss: 0.6854
Epoch 42/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 674us/step - accuracy: 0.5429 - loss: 0.6869
Epoch 43/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 708us/step - accuracy: 0.5540 - loss: 0.6837
Epoch 44/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 679us/step - accuracy: 0.5487 - loss: 0.6848
Epoch 45/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 671us/step - accuracy: 0.5424 - loss: 0.6853
Epoch 46/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 716us/step - accuracy: 0.5488 - loss: 0.6847
Epoch 47/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 661us/step - accuracy: 0.5417 - loss: 0.6866
Epoch 48/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 726us/step - accuracy: 0.5478 - loss: 0.6849
Epoch 49/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 682us/step - accuracy: 0.5453 - loss: 0.6849
Epoch 50/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 689us/step - accuracy: 0.5476 - loss: 0.6853
Epoch 51/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 671us/step - accuracy: 0.5494 - loss: 0.6842
Epoch 52/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 734us/step - accuracy: 0.5433 - loss: 0.6853
Epoch 53/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 693us/step - accuracy: 0.5386 - loss: 0.6864
Epoch 54/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 679us/step - accuracy: 0.5446 - loss: 0.6861
Epoch 55/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 692us/step - accuracy: 0.5451 - loss: 0.6853
Epoch 56/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 662us/step - accuracy: 0.5466 - loss: 0.6861
Epoch 57/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 699us/step - accuracy: 0.5436 - loss: 0.6865
Epoch 58/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 680us/step - accuracy: 0.5443 - loss: 0.6859
Epoch 59/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 729us/step - accuracy: 0.5479 - loss: 0.6844
Epoch 60/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 712us/step - accuracy: 0.5434 - loss: 0.6861
Epoch 61/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 737us/step - accuracy: 0.5440 - loss: 0.6859
Epoch 62/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 760us/step - accuracy: 0.5474 - loss: 0.6851
Epoch 63/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 713us/step - accuracy: 0.5412 - loss: 0.6854
Epoch 64/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 731us/step - accuracy: 0.5436 - loss: 0.6849
Epoch 65/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 710us/step - accuracy: 0.5471 - loss: 0.6859
Epoch 66/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 761us/step - accuracy: 0.5449 - loss: 0.6867
Epoch 67/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 708us/step - accuracy: 0.5480 - loss: 0.6844
Epoch 68/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 691us/step - accuracy: 0.5476 - loss: 0.6849
Epoch 69/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 722us/step - accuracy: 0.5468 - loss: 0.6859
Epoch 70/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 682us/step - accuracy: 0.5491 - loss: 0.6848
Epoch 71/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 676us/step - accuracy: 0.5466 - loss: 0.6854
Epoch 72/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 703us/step - accuracy: 0.5409 - loss: 0.6857
Epoch 73/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 708us/step - accuracy: 0.5504 - loss: 0.6843
Epoch 74/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 731us/step - accuracy: 0.5474 - loss: 0.6848
Epoch 75/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 736us/step - accuracy: 0.5444 - loss: 0.6859
Epoch 76/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 700us/step - accuracy: 0.5470 - loss: 0.6847
Epoch 77/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 767us/step - accuracy: 0.5420 - loss: 0.6864
Epoch 78/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 717us/step - accuracy: 0.5484 - loss: 0.6856
Epoch 79/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 687us/step - accuracy: 0.5431 - loss: 0.6862
Epoch 80/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 687us/step - accuracy: 0.5425 - loss: 0.6861
Epoch 81/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 722us/step - accuracy: 0.5453 - loss: 0.6856
Epoch 82/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 659us/step - accuracy: 0.5399 - loss: 0.6871
Epoch 83/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 692us/step - accuracy: 0.5446 - loss: 0.6859
Epoch 84/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 694us/step - accuracy: 0.5461 - loss: 0.6847
Epoch 85/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 707us/step - accuracy: 0.5482 - loss: 0.6845
Epoch 86/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 662us/step - accuracy: 0.5483 - loss: 0.6854
Epoch 87/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 697us/step - accuracy: 0.5450 - loss: 0.6855
Epoch 88/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 711us/step - accuracy: 0.5476 - loss: 0.6846
Epoch 89/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 676us/step - accuracy: 0.5443 - loss: 0.6853
Epoch 90/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 772us/step - accuracy: 0.5490 - loss: 0.6846
Epoch 91/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 764us/step - accuracy: 0.5423 - loss: 0.6858
Epoch 92/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 744us/step - accuracy: 0.5469 - loss: 0.6853
Epoch 93/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 742us/step - accuracy: 0.5457 - loss: 0.6859
Epoch 94/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 690us/step - accuracy: 0.5492 - loss: 0.6851
Epoch 95/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 744us/step - accuracy: 0.5493 - loss: 0.6841
Epoch 96/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 717us/step - accuracy: 0.5465 - loss: 0.6855
Epoch 97/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 722us/step - accuracy: 0.5421 - loss: 0.6869
Epoch 98/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 709us/step - accuracy: 0.5396 - loss: 0.6851
Epoch 99/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 676us/step - accuracy: 0.5511 - loss: 0.6846
Epoch 100/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 713us/step - accuracy: 0.5493 - loss: 0.6848

In [25]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 1ms/step - accuracy: 0.5418 - loss: 0.6855
Loss: 0.6855230331420898, Accuracy: 0.5418075919151306

In [26]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.h5')

print("Model saved to 'AlphabetSoupCharity.h5'")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

Model saved to 'AlphabetSoupCharity.h5'