Optimization 3a notes: Tweak data preprocessing to improve accuracy rates.
* Use original code
* Test out minimum value counts for potential impacts to model and accuracy

# **Pre-Process the Data**

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
X=application_df.drop(columns=['EIN', 'NAME'], axis=1, inplace=True)
y=application_df['IS_SUCCESSFUL']
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [ ]:
# Generate categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()

In [ ]:
# Check the number of unique values in each column
unique_counts = application_df[application_cat].nunique()
print("Unique value counts for each categorical column:")
print(unique_counts)

Unique value counts for each categorical column:
APPLICATION_TYPE          17
AFFILIATION                6
CLASSIFICATION            71
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [ ]:
# Identify columns with more than 10 unique values
columns_more_than_10 = unique_counts[unique_counts > 10].index.tolist()
print("\nColumns with more than 10 unique values:")
print(columns_more_than_10)

Columns with more than 10 unique values:
['APPLICATION_TYPE', 'CLASSIFICATION']

In [ ]:
# Determine the number of data points for each unique value in these columns
for column in columns_more_than_10:
    value_counts = application_df[column].value_counts()
    print(f"\nValue counts for column '{column}':")
    print(value_counts)

Value counts for column 'APPLICATION_TYPE':
APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

Value counts for column 'CLASSIFICATION':
CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [ ]:
# Identify columns with fewer than 10 unique values (excluding CLASSIFICATION and APPLICATION_TYPE)
columns_to_group = unique_counts[(unique_counts < 10) & (unique_counts.index != 'CLASSIFICATION') & (unique_counts.index != 'APPLICATION_TYPE')].index.tolist()
print("\nColumns to group infrequent values into 'Other':")
print(columns_to_group)

Columns to group infrequent values into 'Other':
['AFFILIATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
# Set the threshold for excluding low count categories
threshold = 1000
# Generate our categorical variable list
application_types_to_replace = application_df.dtypes[application_df.dtypes == "object"].index.tolist()

# Check the number of unique values in each column
unique_counts = application_df[application_types_to_replace].nunique()

# Identify columns with more than 10 unique values
columns_more_than_10 = unique_counts[unique_counts > 10].index.tolist()

# Loop through each column with more than 10 unique values
for column in columns_more_than_10:
    # Determine the number of data points for each unique value in the column
    value_counts = application_df[column].value_counts()
    print(f"\nValue counts for column '{column}':")
    print(value_counts)

    # Identify categories to exclude
    low_count_values = value_counts[value_counts < threshold].index
    print(f"Categories with counts below {threshold} in column '{column}':")
    print(low_count_values)

    # Replace low count categories with 'Other'
    application_df[column] = application_df[column].replace(low_count_values, 'Other')

Value counts for column 'APPLICATION_TYPE':
APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64
Categories with counts below 1000 in column 'APPLICATION_TYPE':
Index(['T8', 'T7', 'T10', 'T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15',
       'T17'],
      dtype='object', name='APPLICATION_TYPE')

Value counts for column 'CLASSIFICATION':
CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64
Categories with counts below 1000 in column 'CLASSIFICATION':
Index(['C7000', 'C1700', 'C4000', 'C5000', 'C1270', 'C2700', 'C2800', 'C7100',
       'C1300', 'C1280', 'C1230', 'C1400', 'C7200', 'C2300', 'C1240', 'C8000',
       'C7120', 'C1500', 'C1800', 'C6000', 'C1250', 'C8200', 'C1238', 'C1278',
       'C1235', 'C1237', 'C7210', 'C2400', 'C1720', 'C4100', 'C1257', 'C1600',
       'C1260', 'C2710', 'C0', 'C3200', 'C1234', 'C1246', 'C1267', 'C1256',
       'C2190', 'C4200', 'C2600', 'C5200', 'C1370', 'C1248', 'C6100', 'C1820',
       'C1900', 'C1236', 'C3700', 'C2570', 'C1580', 'C1245', 'C2500', 'C1570',
       'C1283', 'C2380', 'C1732', 'C1728', 'C2170', 'C4120', 'C8210', 'C2561',
       'C4500', 'C2150'],
      dtype='object', name='CLASSIFICATION')

In [ ]:
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

In [ ]:
# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: count, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

# Set the threshold for excluding low count categories
threshold = 100
# Generate our categorical variable list
classifications_to_replace = application_df.dtypes[application_df.dtypes == "object"].index.tolist()

# Check the number of unique values in each column
unique_classification_counts = application_df[classifications_to_replace].nunique()

# Identify columns with more than 10 unique values
columns_more_than_10 = unique_counts[unique_counts > 10].index.tolist()

# Loop through each column with more than 10 unique values
for column in columns_more_than_10:
    # Determine the number of data points for each unique value in the column
    value_classification_counts = application_df[column].value_counts()
    print(f"\nValue counts for column '{column}':")
    print(value_classification_counts)

    # Identify categories to exclude
    low_count_classification_values = value_classification_counts[value_classification_counts < threshold].index
    print(f"Categories with counts below {threshold} in column '{column}':")
    print(low_count_classification_values)

    # Replace low count categories with 'Other'
    application_df[column] = application_df[column].replace(low_count_classification_values, 'Other')

Value counts for column 'APPLICATION_TYPE':
APPLICATION_TYPE
T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: count, dtype: int64
Categories with counts below 100 in column 'APPLICATION_TYPE':
Index([], dtype='object', name='APPLICATION_TYPE')

Value counts for column 'CLASSIFICATION':
CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64
Categories with counts below 100 in column 'CLASSIFICATION':
Index([], dtype='object', name='CLASSIFICATION')

In [ ]:
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
df_dummies = pd.get_dummies(application_df)
print("\nDataFrame after applying pd.get_dummies:")
print(df_dummies)

DataFrame after applying pd.get_dummies:
       STATUS   ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_Other  \
0           1      5000              1                    True
1           1    108590              1                   False
2           1      5000              0                   False
3           1      6692              1                   False
4           1    142590              1                   False
...       ...       ...            ...                     ...
34294       1      5000              0                   False
34295       1      5000              0                   False
34296       1      5000              0                   False
34297       1      5000              1                   False
34298       1  36500179              0                   False

       APPLICATION_TYPE_T19  APPLICATION_TYPE_T3  APPLICATION_TYPE_T4  \
0                     False                False                False
1                     False                 True                False
2                     False                False                False
3                     False                 True                False
4                     False                 True                False
...                     ...                  ...                  ...
34294                 False                False                 True
34295                 False                False                 True
34296                 False                 True                False
34297                 False                False                False
34298                 False                 True                False

       APPLICATION_TYPE_T5  APPLICATION_TYPE_T6  AFFILIATION_CompanySponsored  \
0                    False                False                         False
1                    False                False                         False
2                     True                False                          True
3                    False                False                          True
4                    False                False                         False
...                    ...                  ...                           ...
34294                False                False                         False
34295                False                False                          True
34296                False                False                          True
34297                 True                False                         False
34298                False                False                         False

       ...  INCOME_AMT_1-9999  INCOME_AMT_10000-24999  \
0      ...              False                   False
1      ...               True                   False
2      ...              False                   False
3      ...              False                    True
4      ...              False                   False
...    ...                ...                     ...
34294  ...              False                   False
34295  ...              False                   False
34296  ...              False                   False
34297  ...              False                   False
34298  ...              False                   False

       INCOME_AMT_100000-499999  INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  \
0                         False               False             False
1                         False               False             False
2                         False               False             False
3                         False               False             False
4                          True               False             False
...                         ...                 ...               ...
34294                     False               False             False
34295                     False               False             False
34296                     False               False             False
34297                     False               False             False
34298                     False               False              True

       INCOME_AMT_25000-99999  INCOME_AMT_50M+  INCOME_AMT_5M-10M  \
0                       False            False              False
1                       False            False              False
2                       False            False              False
3                       False            False              False
4                       False            False              False
...                       ...              ...                ...
34294                   False            False              False
34295                   False            False              False
34296                   False            False              False
34297                   False            False              False
34298                   False            False              False

       SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0                          True                     False
1                          True                     False
2                          True                     False
3                          True                     False
4                          True                     False
...                         ...                       ...
34294                      True                     False
34295                      True                     False
34296                      True                     False
34297                      True                     False
34298                      True                     False

[34299 rows x 41 columns]

In [ ]:
# Convert boolean columns to integers
df_dummies = df_dummies.astype(int)

print("\nDataFrame after applying pd.get_dummies and converting to integers:")
print(df_dummies.head())

DataFrame after applying pd.get_dummies and converting to integers:
   STATUS  ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_Other  \
0       1     5000              1                       1
1       1   108590              1                       0
2       1     5000              0                       0
3       1     6692              1                       0
4       1   142590              1                       0

   APPLICATION_TYPE_T19  APPLICATION_TYPE_T3  APPLICATION_TYPE_T4  \
0                     0                    0                    0
1                     0                    1                    0
2                     0                    0                    0
3                     0                    1                    0
4                     0                    1                    0

   APPLICATION_TYPE_T5  APPLICATION_TYPE_T6  AFFILIATION_CompanySponsored  \
0                    0                    0                             0
1                    0                    0                             0
2                    1                    0                             1
3                    0                    0                             1
4                    0                    0                             0

   ...  INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
0  ...                  0                       0                         0
1  ...                  1                       0                         0
2  ...                  0                       0                         0
3  ...                  0                       1                         0
4  ...                  0                       0                         1

   INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
0                   0                 0                       0
1                   0                 0                       0
2                   0                 0                       0
3                   0                 0                       0
4                   0                 0                       0

   INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  \
0                0                  0                         1
1                0                  0                         1
2                0                  0                         1
3                0                  0                         1
4                0                  0                         1

   SPECIAL_CONSIDERATIONS_Y
0                         0
1                         0
2                         0
3                         0
4                         0

[5 rows x 41 columns]

In [ ]:
print("\nData types of the DataFrame columns:")
print(df_dummies.dtypes)

Data types of the DataFrame columns:
STATUS                          int64
ASK_AMT                         int64
IS_SUCCESSFUL                   int64
APPLICATION_TYPE_Other          int64
APPLICATION_TYPE_T19            int64
APPLICATION_TYPE_T3             int64
APPLICATION_TYPE_T4             int64
APPLICATION_TYPE_T5             int64
APPLICATION_TYPE_T6             int64
AFFILIATION_CompanySponsored    int64
AFFILIATION_Family/Parent       int64
AFFILIATION_Independent         int64
AFFILIATION_National            int64
AFFILIATION_Other               int64
AFFILIATION_Regional            int64
CLASSIFICATION_C1000            int64
CLASSIFICATION_C1200            int64
CLASSIFICATION_C2000            int64
CLASSIFICATION_C2100            int64
CLASSIFICATION_C3000            int64
CLASSIFICATION_Other            int64
USE_CASE_CommunityServ          int64
USE_CASE_Heathcare              int64
USE_CASE_Other                  int64
USE_CASE_Preservation           int64
USE_CASE_ProductDev             int64
ORGANIZATION_Association        int64
ORGANIZATION_Co-operative       int64
ORGANIZATION_Corporation        int64
ORGANIZATION_Trust              int64
INCOME_AMT_0                    int64
INCOME_AMT_1-9999               int64
INCOME_AMT_10000-24999          int64
INCOME_AMT_100000-499999        int64
INCOME_AMT_10M-50M              int64
INCOME_AMT_1M-5M                int64
INCOME_AMT_25000-99999          int64
INCOME_AMT_50M+                 int64
INCOME_AMT_5M-10M               int64
SPECIAL_CONSIDERATIONS_N        int64
SPECIAL_CONSIDERATIONS_Y        int64
dtype: object

In [ ]:
# Split our preprocessed data into our features and target arrays
# Split the preprocessed data into a training and testing dataset

# Identify the target variable
target = 'IS_SUCCESSFUL'

# Identify the feature variables related to 'Classification' and 'Application_Type'
# Assuming 'CLASSIFICATION' and 'APPLICATION_TYPE' were the original columns
classification_columns = [col for col in df_dummies.columns if 'CLASSIFICATION' in col]
application_type_columns = [col for col in df_dummies.columns if 'APPLICATION_TYPE' in col]

# Combine the feature columns
feature_columns = classification_columns + application_type_columns

# Create the features (X) and target (y) arrays
X = df_dummies[feature_columns].values
y = df_dummies[target].values

print("Feature columns:", feature_columns)
print("\nFeatures (X):")
print(X)
print("\nTarget (y):")
print(y)

Feature columns: ['CLASSIFICATION_C1000', 'CLASSIFICATION_C1200', 'CLASSIFICATION_C2000', 'CLASSIFICATION_C2100', 'CLASSIFICATION_C3000', 'CLASSIFICATION_Other', 'APPLICATION_TYPE_Other', 'APPLICATION_TYPE_T19', 'APPLICATION_TYPE_T3', 'APPLICATION_TYPE_T4', 'APPLICATION_TYPE_T5', 'APPLICATION_TYPE_T6']

Features (X):
[[1 0 0 ... 0 0 0]
 [0 0 1 ... 0 0 0]
 [0 0 0 ... 0 1 0]
 ...
 [0 0 1 ... 0 0 0]
 [0 0 0 ... 0 1 0]
 [1 0 0 ... 0 0 0]]

Target (y):
[1 1 0 ... 0 1 0]

In [ ]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# **Compile, Train & Evaluate the Model**

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_feat_num=X_train_scaled.shape[1]

# Compile the Sequential model together and customize metrics
nn = tf.keras.models.Sequential()

#Define the model shape via setting the Input layer
nn.add(tf.keras.layers.Input(shape=(input_feat_num,)))

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=8, activation="relu")
)

# Second hidden layer
nn.add(
    tf.keras.layers.Dense(units=8, activation="relu")
)

# Output layer
nn.add(
    tf.keras.layers.Dense(units=1, activation="sigmoid")
)

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 104

 dense_1 (Dense)             (None, 8)                 72

 dense_2 (Dense)             (None, 1)                 9

=================================================================
Total params: 185 (740.00 Byte)
Trainable params: 185 (740.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [ ]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 8s 5ms/step - loss: 0.6697 - accuracy: 0.5913
Epoch 2/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6602 - accuracy: 0.6090
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6566 - accuracy: 0.6091
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6545 - accuracy: 0.6088
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6532 - accuracy: 0.6096
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6525 - accuracy: 0.6116
Epoch 7/100
804/804 [==============================] - 3s 3ms/step - loss: 0.6522 - accuracy: 0.6106
Epoch 8/100
804/804 [==============================] - 3s 4ms/step - loss: 0.6518 - accuracy: 0.6087
Epoch 9/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6519 - accuracy: 0.6086
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6514 - accuracy: 0.6100
Epoch 11/100
804/804 [==============================] - 3s 3ms/step - loss: 0.6513 - accuracy: 0.6097
Epoch 12/100
804/804 [==============================] - 3s 3ms/step - loss: 0.6513 - accuracy: 0.6102
Epoch 13/100
804/804 [==============================] - 3s 4ms/step - loss: 0.6514 - accuracy: 0.6094
Epoch 14/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6512 - accuracy: 0.6092
Epoch 15/100
804/804 [==============================] - 3s 4ms/step - loss: 0.6509 - accuracy: 0.6117
Epoch 16/100
804/804 [==============================] - 3s 4ms/step - loss: 0.6510 - accuracy: 0.6095
Epoch 17/100
804/804 [==============================] - 3s 3ms/step - loss: 0.6508 - accuracy: 0.6095
Epoch 18/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6509 - accuracy: 0.6111
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6506 - accuracy: 0.6104
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6506 - accuracy: 0.6121
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6507 - accuracy: 0.6090
Epoch 22/100
804/804 [==============================] - 3s 4ms/step - loss: 0.6507 - accuracy: 0.6088
Epoch 23/100
804/804 [==============================] - 3s 3ms/step - loss: 0.6504 - accuracy: 0.6081
Epoch 24/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6503 - accuracy: 0.6115
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6506 - accuracy: 0.6084
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6502 - accuracy: 0.6097
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6506 - accuracy: 0.6098
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6505 - accuracy: 0.6090
Epoch 29/100
804/804 [==============================] - 3s 3ms/step - loss: 0.6504 - accuracy: 0.6088
Epoch 30/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6505 - accuracy: 0.6089
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6504 - accuracy: 0.6108
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6503 - accuracy: 0.6100
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6503 - accuracy: 0.6095
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6504 - accuracy: 0.6102
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6500 - accuracy: 0.6093
Epoch 36/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6503 - accuracy: 0.6109
Epoch 37/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6503 - accuracy: 0.6109
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6504 - accuracy: 0.6082
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6501 - accuracy: 0.6103
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6503 - accuracy: 0.6104
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6500 - accuracy: 0.6081
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6500 - accuracy: 0.6122
Epoch 43/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6503 - accuracy: 0.6102
Epoch 44/100
804/804 [==============================] - 3s 3ms/step - loss: 0.6504 - accuracy: 0.6087
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6501 - accuracy: 0.6108
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6502 - accuracy: 0.6093
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6501 - accuracy: 0.6092
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6502 - accuracy: 0.6092
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6501 - accuracy: 0.6111
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6500 - accuracy: 0.6110
Epoch 51/100
804/804 [==============================] - 3s 3ms/step - loss: 0.6501 - accuracy: 0.6085
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6502 - accuracy: 0.6096
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6498 - accuracy: 0.6107
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6500 - accuracy: 0.6112
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6500 - accuracy: 0.6087
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6501 - accuracy: 0.6075
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6499 - accuracy: 0.6112
Epoch 58/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6500 - accuracy: 0.6097
Epoch 59/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6500 - accuracy: 0.6099
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6500 - accuracy: 0.6094
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6499 - accuracy: 0.6118
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6500 - accuracy: 0.6087
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6500 - accuracy: 0.6094
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6501 - accuracy: 0.6092
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6499 - accuracy: 0.6103
Epoch 66/100
804/804 [==============================] - 3s 3ms/step - loss: 0.6499 - accuracy: 0.6119
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6500 - accuracy: 0.6091
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6500 - accuracy: 0.6096
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6500 - accuracy: 0.6100
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6499 - accuracy: 0.6098
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6498 - accuracy: 0.6099
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6500 - accuracy: 0.6088
Epoch 73/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6498 - accuracy: 0.6087
Epoch 74/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6498 - accuracy: 0.6109
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6499 - accuracy: 0.6078
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6499 - accuracy: 0.6103
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6498 - accuracy: 0.6120
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6497 - accuracy: 0.6093
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6499 - accuracy: 0.6102
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6499 - accuracy: 0.6113
Epoch 81/100
804/804 [==============================] - 3s 3ms/step - loss: 0.6498 - accuracy: 0.6083
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6498 - accuracy: 0.6115
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6497 - accuracy: 0.6122
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6496 - accuracy: 0.6098
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6499 - accuracy: 0.6100
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6498 - accuracy: 0.6090
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6499 - accuracy: 0.6106
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6497 - accuracy: 0.6089
Epoch 89/100
804/804 [==============================] - 3s 3ms/step - loss: 0.6500 - accuracy: 0.6106
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6498 - accuracy: 0.6105
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6498 - accuracy: 0.6111
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6497 - accuracy: 0.6097
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6497 - accuracy: 0.6112
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6498 - accuracy: 0.6104
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6497 - accuracy: 0.6109
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6498 - accuracy: 0.6104
Epoch 97/100
804/804 [==============================] - 3s 3ms/step - loss: 0.6498 - accuracy: 0.6127
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6498 - accuracy: 0.6099
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6497 - accuracy: 0.6111
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6498 - accuracy: 0.6092

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6436 - accuracy: 0.6149 - 492ms/epoch - 2ms/step
Loss: 0.6436152458190918, Accuracy: 0.6149271130561829

In [ ]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.h5')

print("Model saved to 'AlphabetSoupCharity.h5'")

Model saved to 'AlphabetSoupCharity.h5'

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(